{% extends 'blog/base.html' %}

{% block content %}
    <div>

        <h1>About</h1>

        <p>This site was build out of the 
            <a target="_blank" href="http://tutorial.djangogirls.org/en/">Django-Girls tutorial</a>.
        </p>
        <p>Originally the site was called last-2015 as it was done in the last week of December 2015.</p>
        <p>The site was also created in competition with my siblings, who gets the next web site live.</p>
        <p>The site name comes from the fact that calmer views are better than fast and angry ones.</p>
        <p>I came up with the name on the day when I was kicked out of my old house.</p>
        <p>At the moment I am a half nomad on an island in Europe aka the 'old' contient.</p>
        <p>This site is mostly used to practice my programming skills.</p>
        <p>At the moment the site uses Django 1.9, Python 3.4 and twitter bootstrap.</p>

    </div>

{% endblock %}

