{% extends 'blog/base.html' %}

{% block content %}
    <div>

        <h1>Links</h1>

        <p>I guess about 1 in 2000 site visitors will have some time to browse a link list.</p>
        <p>Anyway its a good place to give a shout out for things that I like.</p>
        <p>If you know any great site that should be listed here just drop me a line.</p>
    </div>

    <hr>

    <div>
        <p><a href="http://www.battleship-game.com/en/" target="blank">
            <strong>battleship-game.com</strong>
        </a><span>
            The name says it all. Play a couple of rounds of different versions of battleship. Enjoy!
        </span>
        </p>
    </div>

{% endblock %}

